input{
  display:block;
}
input[type="radio"]{
  display:inline-flex;
}
input[type="submit"]{
  float:right;
}
textarea{
  display: block;
}
form{
  width: 65%;
}
button {
    margin-left: 55%;
}

.style{
  position: relative;
  margin-left: 26%;
}
#title{
  margin-left: 38%;
}